.navbar {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 1.5rem 3rem rgba(251, 160, 227, .2);
}

.navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: 2rem;
}

.nav-link {
    font-family: 'Lobster', cursive;
    font-size: 1.2rem;
}